---
// Redirect to the first page
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0;url=/daily-scraps/blog/1/" />
    <meta name="robots" content="noindex" />
    <title>Redirecting...</title>
  </head>
  <body>
    <p>Redirecting to page 1...</p>
    <script>
      window.location.href = '/daily-scraps/blog/1/';
    </script>
  </body>
</html>
